.button-container {
    text-align: center;
    margin-top: 30px;
}
body {
    color: #fff;
    background: linear-gradient(rgba(210, 217, 20, 0.518), rgba(97, 220, 35, 0.518));
    min-height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
}

.glass-container {
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.279);
    padding: 50px;
    border-radius: 16px;
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    color: #e7fc28;
    background-color: rgb(20, 18, 18);
    transition: background-color 0.3s ease;
}
img{
    margin-top: 5vh;
    max-width: 550px;
}

.back-button:hover {
    background-color: #555;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .back-button {
        font-size: 16px;
        padding: 8px 18px;
    }

    .button-container {
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .back-button {
        font-size: 14px;
        padding: 6px 16px;
    }

    .button-container {
        margin-top: 15px;
    }
}
